<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Polls</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="main-content">
      <h1>Active Polls</h1>

      <ul id="polls">
        <% polls.forEach((poll) => { %>
        <li class="poll-container" id="<%= poll.id %>">
          <h2><%= poll.question %></h2>

          <ul class="poll-options">
            <% for (let { answer, votes } of poll.options) { %>
            <li id="<%= poll.id %>_<%= answer %>">
              <strong><%= answer %>:</strong> <%= votes %> votes
            </li>
            <% } %>
          </ul>

          <form class="poll-form button-container">
            <% for (let { answer } of poll.options) { %>
            <button
              class="action-button vote-button"
              type="submit"
              value="<%= answer %>"
              name="poll-option"
            >
              Vote for <%= answer %>
            </button>
            <% } %>
            <input type="hidden" value="<%= poll.id %>" name="poll-id" />
          </form>
        </li>
        <% }) %>
      </ul>
    </div>

    <script src="/frontend.js" type="application/javascript"></script>
  </body>
</html>
